<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test-suite">
    <test name="Default driver">
        <parameter name="deviceUdid" value="2855c305153f7ece"></parameter>
        <parameter name="portNumber" value="8888"></parameter>
        <classes>
            <class name="templates.TestTemplateFile"> </class>
            <!-- class name="siggaempower.StartPageLoginTest"> </class -->
        </classes>
    </test>
</suite>